{{link-to '<< App Index' 'application'}}

<h2>Friends index</h2>

<h3>Total friends: {{model.length}}</h3>
{{link-to "New friend" "friends.new"}}

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |friend|}}
      <tr>
        <td>
          {{link-to friend.fullName "friends.show" friend}}
        </td>
        <td>
          <a href="#" {{action "delete" friend}}>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
